/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 header{
     background-color: darkgrey;
     padding: 30px 4% 10px;
     position: fixed;
     top: 0;
     width: 100%;
     display: flex;
     align-items: center;

 }
 .head{
    display: inline-block; /* インライン要素にすることで横に回り込む */
    vertical-align: middle; /* 上下中央に寄せる */ 
 }
 ul{
    margin: 0;
    display: flex;
 }
 li {
    list-style: none;
    text-decoration: none;
    margin: 0 0 0 15px;
    font-size: 1rem;
}
td{
    margin: 1rem;
}
footer{
  text-align : center ;
  margin-left: auto;
  margin-right: auto;
}